@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');

* {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
}

#game-container {
    height: 100vh;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, .5);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

.score-difficulty {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.lives {
    display: flex;
    align-items: center;
    color: #fff;
}

.user-guess {
    border: 1px solid #ccc;
    margin-top: 5px;
    min-height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.verse-text-container {
    padding: 10px;
    border: 1px solid white;
    margin-top: 5px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .5);
    height: 100px;
    overflow-y: auto;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.step-name {
    display: flex;
    align-items: center;
    color: white;
}

.powerups-container {
    display: flex;
}

.bomb-container,
.skip-container {
    align-items: center;
    position: relative;
}

.bomb-button-disabled img {
    filter: grayscale(100%);
    opacity: 0.5;
}

.skip-container .skip-icon {
    font-size: 24px;
}

.skip-button-disabled .skip-icon {
    color: gray;
}

#bomb-count-container,
#skip-count-container {
    position: absolute;
    bottom: 7px;
    right: 10px;
    transform: translate(50%, 50%);
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 2px;
    font-weight: bold;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bomb-count,
#skip-count {
    font-size: 12px;
}

.back-button {
    margin-right: 10px;
}

.game-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.step-title {
    color: white;
}

#score-text {
    padding-left: 10px;
    color: white;
}

#difficulty-text {
    color: white;
}

#lives-text {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    font-weight: 200;
    padding-right: 2px;
    color: white;
}

.options-container {
    flex-grow: 1;
    max-height: calc(100vh - 425px);
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
}

.verse-text {
    margin: 5px;
    color: white;
}

.submit-button {
    margin-top: 10px;
}

@media (max-width: 770px) {
    .options-container button:hover {
        border-color: white;
        color: white;
    }
}