#game-container {
    height: 100vh;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, .5);
    max-width: 600px;
}

.verse-text-container {
    padding: 10px;
    border: 1px solid white;
    margin-top: 5px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .5);
    max-height: calc(100vh - 510px);
    overflow-y: auto;
}

.options-container {
    max-height: calc(100vh - 425px);
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
}

.verse-text {
    margin: 5px;
}

.icons-container {
    position: absolute;
    max-width: 600px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
}

.powerups-container {
    display: flex;
}

.bomb-container {
    align-items: center;
    position: relative;
}

.bomb-button-disabled img {
    filter: grayscale(100%);
    opacity: 0.5;
}

.skip-container .skip-icon {
    font-size: 24px;
}

.skip-button-disabled .skip-icon {
    color: gray;
}

#bomb-count-container,
#skip-count-container {
    position: absolute;
    bottom: 7px;
    right: 10px;
    transform: translate(50%, 50%);
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: bold;
}

.back-button {
    position: absolute;
    left: 0px;
    top: 3px;
}

.back-container {
    margin: 0;
    align-items: center;
}

.game-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('/background-images/alma-the-younger.jpg');
    background-size: cover;
    background-position: center;
}

.step-title {
    color: white;
}

#score-text {
    padding-left: 10px;
}

#lives-text {
    font-family: 'EB Garamond';
    font-size: 24px;
    font-weight: 200;
    padding-right: 2px;
}

.selection-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    margin-top: 10px;
}

@media (max-width: 770px) {
    .options-container button:hover {
        border-color: white;
        color: white;
    }
}