#pwa-install-prompt {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
}

#pwa-modal {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#pwa-modal button {
    margin-top: 10px;
    margin-right: 10px;
}

#pwa-modal button:last-child {
    margin-right: 0;
}

#ios-instructions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
}

#step-1,
#step-2,
#step-3 {
    height: 250px;
}

#step-1 {
    margin-right: 10px;
}

#step-3 {
    height: 208px;
    margin-top: 10px;
}

.circle {
    position: absolute;
    border: 3px solid red;
    border-radius: 50%;
}

#circle-1 {
    top: 89%;
    left: 35.7%;
    width: 25px;
    height: 25px;
}

#circle-2 {
    top: 59%;
    left: 0;
    width: 100%;
    height: 29px;
    border-radius: 8px;
    box-sizing: border-box;
}

#circle-3 {
    top: 16%;
    left: 82%;
    width: 50px;
    height: 50px;
}

#ios-instructions {
    margin-top: 10px;
    text-align: left;
}

#ios-instructions p {
    margin-bottom: 15px;
    font-size: 16px;
}

#ios-instructions img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}