.grid-container {
    margin-top: 16px;
}

.grid-item {
    width: 100%;
}

#settings-container {
    padding: 20px;
}

#submit-feedback-container {
    margin-bottom: 80px;
}

#settings-header {
    position: sticky;
    top: 5px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 8px 5px 8px 5px;
    border-radius: 10px;
    z-index: 3;
    border: white 1px solid;
}

#snack-bar div {
    justify-content: center;
    max-width: 150px;
}

#settings-start-game-container {
    box-sizing: border-box;
}

#save-button {
    margin-right: 10px;
}

#how-to-play-title {
    margin-top: 15px;
}

#how-to-diff {
    text-align: center;
}

#how-to-p-2 {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .grid-container {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .grid-item {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}