.username-screen {
    z-index: 10000;
    position: fixed;
    top: 30vh;
    left: 0;
}

#username-cancel-btn {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .username-screen {
        width: 80vw;
    }
    #enter-username {
        font-size: 20px;
    }
}