.verse-history-container {
    padding: 20px;
}

.back-container {
    display: flex;
    align-items: center;
}

.history-content-container {
    max-height: 70vh;
    overflow-y: auto;
    padding: 20px;
    background-color: #f0f0f0;
}

.date-section {
    margin-bottom: 20px;
}

.date-section h3 {
    margin-bottom: 10px;
}

.game-section h4 {
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}