.game-container {
    max-width: 800px;
    margin: auto; /* Center horizontally */
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-container h2 {
    font-size: 24px;
    color: #333;
}

.verse-text {
    margin-bottom: 20px;
    text-align: left;
}

.selection-section {
    margin-bottom: 20px;
}

.selection-section h3 {
    margin-top: 0;
    font-size: 18px;
}

.button-group {
    display: flex;
    flex-wrap: wrap; /* Ensure buttons wrap to the next line */
    justify-content: center; /* Center align buttons */
    margin-top: 10px;
}

.submit-button {
    margin-top: 20px;
}